.summary-main {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.card {
    flex-grow: 1;
    height: 100%;
    font-size: large;

    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.card:hover {
    background-color: whitesmoke;
}

.value {
    font-size: xx-large;
}
